.pmd
create.sql
reports/
src/main/resources/db/dev/V102__db_sample_mailboxes.sql
src/main/resources/static/ngapp/
target/
.mvn/
mvn
mvn.cmd

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/